[Unit]
Description=IstChain daemon
After=network-online.target

[Service]

# Run as istchain:istchain
User=istchain
ExecStart=/home/istchain/go/bin/istd start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
